<body style="background:url(/assets/Single.jpg)">
<ul>
<% @tweets.each do |tweet| %>
<li>
	<%= tweet.user.profile.profile_name %> |
	<%= tweet.content %> |
	<%= simple_form_for @relationship do |f| %>
	<%= f.input :followed_id, as: :hidden, input_html: {value: tweet.user.id } %>
	<%= f.button :submit, class: 'btn btn-primary', value: 'Follow' %>
			<% end %>
</li>
<% end %>
</ul>